<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/beauty-client-client.css" data-inprogress="">

</head>

<body class="body" id="body">
    <div class="wrapper">
        <main class="main">

            <header class="header_personal">
                <div class="container">
                    <div class="navigation">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo-dark.png"></a>
                        </div>
                        <div class="header_action">
                            <div class="search">
                                <i class="icon-search iSearch"></i>
                                <form class="form">
                                    <div class="form-input" id="headerSearch">
                                        <button class="button"><i class="icon-search"></i></button>
                                        <input name="search" class="search-query" type="text" placeholder="Поиск">
                                    </div>
                                    <div class="search-results">
                                        <a href="javascript:void(0)">Диана Ковалева</a>
                                        <a href="javascript:void(0)">Наталья Иванова</a>
                                    </div>
                                </form>
                            </div>
                            <div class="personal_information">
                                <div class="personal_score">
                                    <i class="icon-wallet"></i>
                                    <div class="score">
                                        <span>На счету: 1000 руб.</span>
                                        <a href="personal-area-settings.html" class="replenish">Пополнить</a>
                                    </div>
                                </div>
                                <a href="master-organaizer.html" class="calendar"><i class="icon-calendar"></i><span>Календарь</span></a>
                                <a class="notification" href="javascript:void(0)">
                        <i class="icon-bell-1"></i>
                    </a>
                                <ul class="dropdown-notification">
                                    <li>
                                        <a href="javascript:void(0)" class="link-notification"></a>
                                        <div class="avatar">
                                            <img src="../img/avatar-7.jpg" alt="avatar"></div>
                                        <span>У вас новое сообщение от Ирины Ивановой</span>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="link-notification"></a>
                                        <div class="avatar">
                                            <img src="../img/avatar-7.jpg" alt="avatar"></div>
                                        <span>У вас новое сообщение от Ирины Ивановой</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu">
                                <i class="icon-3-dots"></i>
                            </div>
                        </div>
                        <div class="user">
                            <div class="avatar">
                                <img src="../img/avatar-7.jpg" alt="avatar">
                                <span style="background-image: url(../img/diamond.png);"></span>
                            </div>
                            <div class="name">
                                <span>Наталья Иванова</span>
                                <span>Лучший мастер</span>
                            </div>
                            <a href="#"><i class="icon-arrow-down"></i></a>
                            <div class="dropdown-user">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)"><span class="profile"></span>Профиль </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-increase"></i>Реклама</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="services">
                                    <span></span>
                                    <span></span>
                                </span>Услуги</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon1"></i>Рейтинг</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-wallet"></i>Баланс</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="container">
                <div class="personal_area_content">
                    <aside class="aside">
                        <ul>
                            <li><a href="index.html"><i class="icon-arrow-in-menu"></i>Главная</a></li>
                            <li><a href="beauty-client-client.html"><i class="icon-home"></i>Моя страница</a></li>
                            <li><a href="client-record.html"><i class="icon-calendar"></i>Заявки</a></li>
                            <li><a href="#"><i class="icon-woman"></i>Клиенты</a></li>
                            <li><a href="client-history.html"><i class="icon-file"></i>История</a></li>
                            <li><a href="client-message.html"><i class="icon-envelope"></i>Сообщения</a></li>
                            <li><a href="сlient-event-client.html"><i class="icon-meeting"></i>Мероприятия</a></li>
                            <li><a href="#"><i class="icon-student"></i>Обучение</a></li>
                        </ul>
                    </aside>
                    <section class="section section_client">
                        <ul class="tabs">
                            <li class="services-tab active">
                                <a href="javascript:void(0)" class="services">
                                    <span></span>
                                    <span></span>
                                </a>
                            </li>
                            <li class="applications-tab ">
                                <a href="javascript:void(0)" class="applications"><i class="icon-meeting"></i></a>
                            </li>
                        </ul>
                        <div class="item-services active">
                            <div class="heading">
                                <div class="heading_action">
                                    <ul>
                                        <li><a class="button_light">Обрабатываются</a></li>
                                        <li><a class="button_light active">Принято</a></li>
                                        <li><a class="button_light">Отказ</a></li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="users mCustomScrollbar">
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-3.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                            <span class="heart" style="background-image: url(../img/heart.png);"></span>
                                        </div>
                                        <div class="title">
                                            <h3>Дина Ковалева</h3>
                                            <span>Лучший мастер</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <span>Прокраска
                                            волос<span>25.05.19</span></span>
                                        <span class="mark warning"></span>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/img-16.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <span>Прокраска
                                            волос<span>25.05.19</span></span>
                                        <span class="mark confirmed"><i class="icon-tick"></i></span>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-4.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Алексадрина Карпинская
                                            </h3>
                                            <span>Салон “Николь”</span>
                                            <div class="count">2</div>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <span>Прокраска
                                            волос<span>25.05.19</span></span>
                                        <span class="mark cancel">x</span>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-1.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Евгения Шульга</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <span>Прокраска
                                            волос<span>25.05.19</span></span>
                                        <span class="mark confirmed"><i class="icon-tick"></i></span>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-6.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Анна Коваль</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <span>Прокраска
                                            волос<span>25.05.19</span></span>
                                        <span class="mark confirmed"><i class="icon-tick"></i></span>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-5.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <span>Прокраска
                                            волос<span>25.05.19</span></span>
                                        <span class="mark confirmed"><i class="icon-tick"></i></span>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/master/foto-6.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <span>Прокраска
                                            волос<span>25.05.19</span></span>
                                        <span class="mark confirmed"><i class="icon-tick"></i></span>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-2.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <span>Прокраска
                                            волос<span>25.05.19</span></span>
                                        <span class="mark confirmed"><i class="icon-tick"></i></span>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/master/foto-6.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                    <div class="description">
                                        <span>Прокраска
                                            волос<span>25.05.19</span></span>
                                        <span class="mark confirmed"><i class="icon-tick"></i></span>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="item-applications">
                            <div class="widgets">
                                <div class="widget-client">
                                    <h3>Любимые клиенты</h3>
                                    <div class="list">
                                        <div class="avatar">
                                            <img src="../img/avatar-1.jpg" alt="avatar"></div>
                                        <div class="avatar">
                                            <img src="../img/avatar-2.jpg" alt="avatar"></div>
                                        <div class="avatar">
                                            <img src="../img/avatar-3.jpg" alt="avatar"></div>
                                        <div class="avatar">
                                            <img src="../img/avatar-4.jpg" alt="avatar"></div>
                                        <div class="avatar">
                                            <img src="../img/avatar-5.jpg" alt="avatar"></div>
                                        <div class="avatar">
                                            <img src="../img/avatar-6.jpg" alt="avatar"></div>
                                        <div class="avatar">
                                            <img src="../img/avatar-7.jpg" alt="avatar"></div>
                                        <div class="avatar add"><a href="javascript:void(0)">+</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="applications-container">
                                <span class="description">Заявки на мероприятия</span>

                                <ul class="list-request mCustomScrollbar">
                                    <li class="item">
                                        <span class="item-header">21.07</span>
                                        <h3>Мастер-класс по трендовому окрашиванию</h3>
                                        <p>
                                            Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                        </p>
                                        <span class="item-footer">Заявка принята</span>
                                    </li>
                                    <li class="item">
                                        <span class="item-header">21.07</span>
                                        <h3>Мастер-класс по трендовому окрашиванию</h3>
                                        <p>
                                            Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                        </p>
                                        <span class="item-footer">Заявка принята</span>
                                    </li>
                                    <li class="item">
                                        <span class="item-header">21.07</span>
                                        <h3>Мастер-класс по трендовому окрашиванию</h3>
                                        <p>
                                            Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                        </p>
                                        <span class="item-footer">Заявка принята</span>
                                    </li>
                                    <li class="item">
                                        <span class="item-header">21.07</span>
                                        <h3>Мастер-класс по трендовому окрашиванию</h3>
                                        <p>
                                            Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                        </p>
                                        <span class="item-footer">Заявка принята</span>
                                    </li>
                                    <li class="item">
                                        <span class="item-header">21.07</span>
                                        <h3>Мастер-класс по трендовому окрашиванию</h3>
                                        <p>
                                            Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                        </p>
                                        <span class="item-footer">Заявка принята</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </section>
                    <div class="widgets">
                        <div class='calendar' id='calendar'></div>
                        <div class="list-masters">
                            <div class="heading">
                                <span class="description">Мастера</span>
                                <a href="index.html">Все мастера</a>
                            </div>
                            <ul class="users mCustomScrollbar">
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-3.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                            <span class="heart" style="background-image: url(../img/heart.png);"></span>
                                        </div>
                                        <div class="title">
                                            <h3>Евгения Шульга</h3>
                                            <span>Лучший мастер</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/img-16.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Анна Коваль</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-4.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-1.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-6.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-5.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                </li>
                                <li class="item-user">
                                    <div class="user">
                                        <div class="avatar">
                                            <img src="../img/avatar-5.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова</h3>
                                            <span>Салон “Николь”</span>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="footer_body">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo.png"></a>
                        </div>
                        <p> © Все права защищены, 2019</p>
                        <a href="javascript:void(0)">Политика конфиденциальности</a>
                    </div>
                </div>
            </footer>

        </main>
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src='../js/core.js'></script>
    <script src='../js/daygrid.js'></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/client-client.min.js"></script>

</body>

</html>