<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <title>Регистрация</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/registration.css" data-inprogress="">

</head>

<body class="body" id="body">
    <div class="wrapper">
        <main class="main">



            <header class="header">
                <div class="container">
                    <nav class="nav">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo.png"></a>
                        </div>
                        <div class="header_action">
                            <a href="javascript:void(0)" class="register">Зарегистрироваться</a>
                            <a href="javascript:void(0)">Войти</a>
                        </div>
                    </nav>
                </div>
            </header>

            <div class="politics-modall">
                <div class="politics-content">
                    <span class="close"></span>
                    <h2>Политика договора-оферты</h2>
                    <div class="politics-body mCustomScrollbar">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        </p>
                        <h3>Quis ipsum suspendisse</h3>
                        <ul>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ul>
                        <h3>Quis ipsum suspendisse</h3>
                        <ol type="1">
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ol>
                        <ol type="1">
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <section class="section section_registration">
                <div class="logo">
                    <a href="index.html"><img alt="" src="../img/logo.png"></a>
                </div>
                <div class="container">
                    <div class="list_step">
                        <div class="item_step"><a href="#" class="button">Шаг 1</a></div>
                        <div class="item_dots"></div>
                        <div class="item_step"><a href="#" class="button">Шаг 2</a></div>
                    </div>
                </div>
            </section>
            <section class="section section_form">
                <div class="container">
                    <form class="form form_upload">
                        <div class="form-group">
                            <div class="attached-img">
                                <div class="files" id="files-img">
                                    <div class="file-loading">
                                        <input id="file-image" type="file" name="file-1[]">
                                    </div>
                                </div>
                                <i class="icon-icon26"></i>
                            </div>
                            <p class="name">Светлана Куликова</p>
                        </div>
                        <div class="form-row">
                            <div class="form-group">
                                <div class="form-column">
                                    <input type="tel" name="tel" id="input-one" placeholder="Ваш телефон">
                                    <label class="icon-viber icon" for="input-one"></label>
                                </div>
                                <div class="form-column">
                                    <input type="tel" id="input-two" name="tel-2" placeholder="Ваш телефон">
                                    <label class="icon-viber icon" for="input-two"></label>
                                </div>
                                <div class="form-column">
                                    <input type="tel" id="input-three" name="tel-3" placeholder="Ваш телефон">
                                    <label class="icon-viber icon" for="input-three"></label>
                                </div>
                            </div>
                            <div class="form-group">
                                <a href="registration.html" class="button_light">Вернутся к Шаг 1</a>
                                <div class="form-action">
                                    <input type="submit" class="modall-active" value="Send">
                                    <label class="button">Ок</label>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </section>


            <footer class="footer">
                <div class="container">
                    <div class="footer_body">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo.png"></a>
                        </div>
                        <p> © Все права защищены, 2019</p>
                        <a href="javascript:void(0)" class="politics">Политика конфиденциальности</a>
                    </div>
                </div>
            </footer>

        </main>
    </div>



    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/fileinput.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/customer-registration.min.js"></script>

</body>

</html>