<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <title>Главная</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/home.css" data-inprogress="">

</head>

<body class="body" id="body">
    <div class="wrapper">
        <main class="main">



            <header class="header">
                <div class="container">
                    <nav class="nav">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo.png"></a>
                        </div>
                        <div class="header_action">
                            <a href="javascript:void(0)" class="register">Зарегистрироваться</a>
                            <a href="javascript:void(0)">Войти</a>
                        </div>
                    </nav>
                </div>
            </header>

            <div class="politics-modall">
                <div class="politics-content">
                    <span class="close"></span>
                    <h2>Политика договора-оферты</h2>
                    <div class="politics-body mCustomScrollbar">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        </p>
                        <h3>Quis ipsum suspendisse</h3>
                        <ul>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ul>
                        <h3>Quis ipsum suspendisse</h3>
                        <ol type="1">
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ol>
                        <ol type="1">
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <section class="section section_search">
                <div class="container">
                    <div class="logo">
                        <a href="index.html"><img alt="" src="../img/logo.png"></a>
                    </div>
                    <form class="form">
                        <div class="list-check">
                            <label><input type="checkbox">Определить мое местоположение</label>
                        </div>
                        <div class="form_group">
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>г. Москва</option>
                                    <option>г. Москва</option>
                                    <option>г. Москва</option>
                                </select>
                            </div>
                            <div class="list-check">
                                <label><input type="checkbox">Найти по карте</label>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>ст. м. Соко...</option>
                                    <option>ст. м. Соко...</option>
                                    <option>ст. м. Соко...</option>
                                </select>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>Парикмахер</option>
                                    <option>Визажист</option>
                                    <option>Стилист</option>
                                </select>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>Стрижка</option>
                                    <option>Стрижка</option>
                                    <option>Стрижка</option>
                                </select>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>15.05.19</option>
                                    <option>15.05.19</option>
                                    <option>15.05.19</option>
                                </select>
                            </div>
                            <div class="list-check">
                                <div class="block">
                                    <label><input type="checkbox" checked>+/- 2 дня</label>
                                </div>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>С &nbsp;&nbsp;12:00</option>
                                    <option>С 12:00</option>
                                    <option>С 12:00</option>
                                </select>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>До &nbsp;&nbsp;16:00</option>
                                    <option>До 16:00</option>
                                    <option>До 16:00</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-action">
                            <button type="button" class="button">Найти<i class="icon-search"></i></button>
                            <a href="javascript:void(0)" class="search-extended">Расширенный поиск</a>
                        </div>
                    </form>
                    <form class="extended">
                        <div class="form-column">
                            <input type="text" placeholder="Город">
                        </div>
                        <div class="form-column">
                            <input type="text" placeholder="Тип мастера">
                        </div>
                        <div class="form-column">
                            <input type="text" placeholder="Дата">
                        </div>
                        <div class="form-column">
                            <input type="text" placeholder="Станция метро">
                        </div>
                        <div class="form-column">
                            <input type="text" placeholder="Тип услуги">
                        </div>
                        <div class="form-group">
                            <div class="form-column">
                                <label>Время
                                    с</label>
                                <input type="text">
                            </div>
                            <div class="form-column">
                                <label>до</label>
                                <input type="text">
                            </div>
                        </div>
                        <div class="form-action">
                            <button type="button" class="button">Найти<i class="icon-search"></i></button>
                        </div>
                    </form>
                </div>
            </section>

            <section class="section section_specialist">
                <div class="container">
                    <div class="heading">
                        <div class="title">
                            <h3 class="">Парикмахер, стижка - г. Москва</h3>
                            <span>156 предложений</span>
                        </div>
                        <div class="title_action">
                            <a href="search.html" class="button button_grey">Показать на карте</a>
                            <div class="filter">
                                <ul>
                                    <li class="current-value">Сортировка</li>
                                    <li>
                                        <ul class="sort">
                                            <li><a href="javascript:void(0)">По рейтингу</a></li>
                                            <li><a href="javascript:void(0)">По цене</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="section_body">
                        <div class="section_image" style="background-image: url(../img/home-img.jpg)"></div>
                        <div class="list list_specialist slide-item mCustomScrollbar">
                            <div class="item">
                                <a href="master-client.html" class="page-link"></a>
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-1.jpg" alt="avatar">
                                        <a href="client-master.html" class="avatar-link"></a>
                                    </div>
                                    <div class="title">
                                        <div class="name">
                                            <div class="rating">
                                                <a href="client-master.html" class="page-link"></a>
                                                <span>4,6</span>
                                                <div class="stars">
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                </div>
                                            </div>
                                            <h3>Светлана Фролова <a href="client-master.html" class="page-link"></a>
                                            </h3>
                                            <span>г. Москва, м. Сокольники</span>
                                        </div>
                                        <p>Салон “Николь”</p>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="item_body">
                                    <h3>Стрижка</h3>
                                    <ul class="time">
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                    </ul>
                                    <div class="price">
                                        <h3>Цена: 350 р.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="master-client.html" class="page-link"></a>
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-2.jpg" alt="avatar">
                                        <a href="client-master.html" class="avatar-link"></a>
                                    </div>
                                    <div class="title">
                                        <div class="name">
                                            <div class="rating">
                                                <a href="client-master.html" class="page-link"></a>
                                                <span>4,6</span>
                                                <div class="stars">
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                </div>
                                            </div>
                                            <h3>Светлана Фролова<a href="client-master.html" class="page-link"></a></h3>
                                            <span>г. Москва, м. Сокольники</span>
                                        </div>
                                        <p>Салон “Николь”</p>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="item_body">
                                    <h3 class="red">Коррекция за полцены</h3>
                                    <ul class="time">
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                    </ul>
                                    <div class="price">
                                        <h3>Цена: 350 р.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="master-client.html" class="page-link"></a>
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-3.jpg" alt="avatar">
                                        <a href="client-record.html" class="avatar-link"></a>
                                    </div>
                                    <div class="title">
                                        <div class="name">
                                            <div class="rating">
                                                <a href="client-master.html" class="page-link"></a>
                                                <span>4,6</span>
                                                <div class="stars">
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                </div>
                                            </div>
                                            <h3>Светлана Фролова <a href="client-master.html" class="page-link"></a>
                                            </h3>
                                            <span>г. Москва, м. Сокольники</span>
                                        </div>
                                        <p>Салон “Николь”</p>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="item_body">
                                    <h3>Стрижка</h3>
                                    <ul class="time">
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                    </ul>
                                    <div class="price">
                                        <h3>Цена: 350 р.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="master-client.html" class="page-link"></a>
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-4.jpg" alt="avatar">
                                        <a href="client-record.html" class="avatar-link"></a>
                                    </div>
                                    <div class="title">
                                        <div class="name">
                                            <div class="rating">
                                                <a href="client-master.html" class="page-link"></a>
                                                <span>4,6</span>
                                                <div class="stars">
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                </div>
                                            </div>
                                            <h3>Светлана Фролова <a href="client-master.html" class="page-link"></a>
                                            </h3>
                                            <span>г. Москва, м. Сокольники</span>
                                        </div>
                                        <p>Салон “Николь”</p>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="item_body">
                                    <h3>Стрижка</h3>
                                    <ul class="time">
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                    </ul>
                                    <div class="price">
                                        <h3>Цена: 350 р.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="master-client.html" class="page-link"></a>
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-5.jpg" alt="avatar">
                                        <a href="client-record.html" class="avatar-link"></a>
                                    </div>
                                    <div class="title">
                                        <div class="name">
                                            <div class="rating">
                                                <a href="client-master.html" class="page-link"></a>
                                                <span>4,6</span>
                                                <div class="stars">
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                </div>
                                            </div>
                                            <h3>Светлана Фролова <a href="client-master.html" class="page-link"></a>
                                            </h3>
                                            <span>г. Москва, м. Сокольники</span>
                                        </div>
                                        <p>Салон “Николь”</p>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="item_body">
                                    <h3>Стрижка</h3>
                                    <ul class="time">
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                    </ul>
                                    <div class="price">
                                        <h3>Цена: 350 р.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="master-client.html" class="page-link"></a>
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-6.jpg" alt="avatar">
                                        <a href="client-record.html" class="avatar-link"></a>
                                    </div>
                                    <div class="title">
                                        <div class="name">
                                            <div class="rating">
                                                <a href="client-master.html" class="page-link"></a>
                                                <span>4,6</span>
                                                <div class="stars">
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                </div>
                                            </div>
                                            <h3>Светлана Фролова <a href="client-master.html" class="page-link"></a>
                                            </h3>
                                            <span>г. Москва, м. Сокольники</span>
                                        </div>
                                        <p>Салон “Николь”</p>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="item_body">
                                    <h3>Стрижка</h3>
                                    <ul class="time">
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                    </ul>
                                    <div class="price">
                                        <h3>Цена: 350 р.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="master-client.html" class="page-link"></a>
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-7.jpg" alt="avatar">
                                        <a href="client-record.html" class="avatar-link"></a>
                                    </div>
                                    <div class="title">
                                        <div class="name">
                                            <div class="rating">
                                                <a href="client-master.html" class="page-link"></a>
                                                <span>4,6</span>
                                                <div class="stars">
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                </div>
                                            </div>
                                            <h3>Светлана Фролова <a href="client-master.html" class="page-link"></a>
                                            </h3>
                                            <span>г. Москва, м. Сокольники</span>
                                        </div>
                                        <p>Салон “Николь”</p>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="item_body">
                                    <h3>Стрижка</h3>
                                    <ul class="time">
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                    </ul>
                                    <div class="price">
                                        <h3>Цена: 350 р.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="master-client.html" class="page-link"></a>
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-1.jpg" alt="avatar">
                                        <a href="client-record.html" class="avatar-link"></a>
                                    </div>
                                    <div class="title">
                                        <div class="name">
                                            <div class="rating">
                                                <a href="client-master.html" class="page-link"></a>
                                                <span>4,6</span>
                                                <div class="stars">
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                </div>
                                            </div>
                                            <h3>Светлана Фролова <a href="client-master.html" class="page-link"></a>
                                            </h3>
                                            <span>г. Москва, м. Сокольники</span>
                                        </div>
                                        <p>Салон “Николь”</p>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="item_body">
                                    <h3>Стрижка</h3>
                                    <ul class="time">
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                    </ul>
                                    <div class="price">
                                        <h3>Цена: 350 р.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="master-client.html" class="page-link"></a>
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-1.jpg" alt="avatar">
                                        <a href="client-record.html" class="avatar-link"></a>
                                    </div>
                                    <div class="title">
                                        <div class="name">
                                            <div class="rating">
                                                <a href="client-master.html" class="page-link"></a>
                                                <span>4,6</span>
                                                <div class="stars">
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                </div>
                                            </div>
                                            <h3>Светлана Фролова <a href="client-master.html" class="page-link"></a>
                                            </h3>
                                            <span>г. Москва, м. Сокольники</span>
                                        </div>
                                        <p>Салон “Николь”</p>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="item_body">
                                    <h3>Стрижка</h3>
                                    <ul class="time">
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                    </ul>
                                    <div class="price">
                                        <h3>Цена: 350 р.</h3>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <a href="master-client.html" class="page-link"></a>
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-1.jpg" alt="avatar">
                                        <a href="client-record.html" class="avatar-link"></a>
                                    </div>

                                    <div class="title">
                                        <div class="name">
                                            <div class="rating">
                                                <a href="client-master.html" class="page-link"></a>
                                                <span>4,6</span>
                                                <div class="stars">
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star active icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                    <i class="star icon-icon1"></i>
                                                </div>
                                            </div>
                                            <h3>Светлана Фролова <a href="client-master.html" class="page-link"></a>
                                            </h3>
                                            <span>г. Москва, м. Сокольники</span>
                                        </div>
                                        <p>Салон “Николь”</p>
                                    </div>
                                    <p></p>
                                </div>
                                <div class="item_body">
                                    <h3>Стрижка</h3>
                                    <ul class="time">
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                        <li><a href='client-record.html'>13:00</a></li>
                                    </ul>
                                    <div class="price">
                                        <h3>Цена: 350 р.</h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section section_developments">
                <div class="container">
                    <div class="list list_card slide-card">
                        <div class="item">
                            <div class="item_header">
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-7.jpg" alt="avatar"><a href="javascript:void(0)" class="avatar-link"></a></div>
                                    <a href="javascript:void(0)">Наталья Николаева
                                        <span>Салон “Николь”</span>
                                    </a>
                                </div>
                                <div class="item_date">
                                    <span><span>21.07</span>в 16:00</span>
                                </div>
                            </div>
                            <div class="item_body">
                                <h2>Мастер-класс по трендовому окрашиванию</h2>
                                <p>
                                    Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                </p>
                                <span>г. Москва, ул. Мира, 23А</span>
                            </div>
                            <div class="item_footer">
                                <span>По приглашению</span>
                                <a href="javascript:void(0)" class="button button_light active">Записаться</a>
                            </div>
                        </div>
                        <div class="item item_desctop" style="background-image: url(../img/home-img2.jpg)"></div>
                        <!-- Для того чтобы сделать рекламу в половину меньше нужно убрать класс item_desctop -->
                        <div class="item">
                            <div class="item_header">
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-1.jpg" alt="avatar"><a href="javascript:void(0)" class="avatar-link"></a></div>
                                    <a href="javascript:void(0)">Наталья Николаева
                                        <span>Салон “Николь”</span>
                                    </a>
                                </div>
                                <div class="item_date">
                                    <span><span>21.07</span>в 16:00</span>
                                </div>
                            </div>
                            <div class="item_body">
                                <h2>Мастер-класс по трендовому окрашиванию</h2>
                                <p>
                                    Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                </p>
                                <span>г. Москва, ул. Мира, 23А</span>
                            </div>
                            <div class="item_footer">
                                <span>По приглашению</span>
                                <a href="javascript:void(0)" class="button button_light active">Записаться</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item_header">
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-4.jpg" alt="avatar"><a href="javascript:void(0)" class="avatar-link"></a></div>
                                    <a href="javascript:void(0)">Наталья Николаева
                                        <span>Салон “Николь”</span>
                                    </a>
                                </div>
                                <div class="item_date">
                                    <span><span>21.07</span>в 16:00</span>
                                </div>
                            </div>
                            <div class="item_body">
                                <h2>Мастер-класс по трендовому окрашиванию</h2>
                                <p>
                                    Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                </p>
                                <span>г. Москва, ул. Мира, 23А</span>
                            </div>
                            <div class="item_footer">
                                <span>По приглашению</span>
                                <a href="javascript:void(0)" class="button button_light active">Записаться</a>
                            </div>
                        </div>
                        <div class="item">
                            <div class="item_header">
                                <div class="item_title">
                                    <div class="avatar">
                                        <img src="../img/avatar-5.jpg" alt="avatar">
                                        <a href="javascript:void(0)" class="avatar-link"></div>
                                    <a href="javascript:void(0)">Наталья Николаева
                                        <span>Салон “Николь”</span>
                                    </a>
                                </div>
                                <div class="item_date">
                                    <span><span>21.07</span>в 16:00</span>
                                </div>
                            </div>
                            <div class="item_body">
                                <h2>Мастер-класс по трендовому окрашиванию</h2>
                                <p>
                                    Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                </p>
                                <span>г. Москва, ул. Мира, 23А</span>
                            </div>
                            <div class="item_footer">
                                <span>По приглашению</span>
                                <a href="javascript:void(0)" class="button button_light active">Записаться</a>
                            </div>
                        </div>
                    </div>
                    <!--Блок только для мобильных устройств -->
                    <div class="item_mobile " style="background-image: url(../img/home-img2.jpg)"></div>
                </div>
            </section>

            <footer class="footer">
                <div class="container">
                    <div class="footer_body">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo.png"></a>
                        </div>
                        <p> © Все права защищены, 2019</p>
                        <a href="javascript:void(0)" class="politics">Политика конфиденциальности</a>
                    </div>
                </div>
            </footer>

        </main>
    </div>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.ui.touch-punch.min.js"></script>
    <script src="../js/jquery-ui.datepicker.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/home.min.js"></script>


</body>

</html>