<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/master-message.css" data-inprogress="">

</head>

<body class="body" id="body">
    <div class="wrapper">
        <main class="main">

            <header class="header_personal">
                <div class="container">
                    <div class="navigation">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo-dark.png"></a>
                        </div>
                        <div class="header_action">
                            <div class="search">
                                <i class="icon-search iSearch"></i>
                                <form class="form">
                                    <div class="form-input" id="headerSearch">
                                        <button class="button"><i class="icon-search"></i></button>
                                        <input name="search" class="search-query" type="text" placeholder="Поиск">
                                    </div>
                                    <div class="search-results">
                                        <a href="javascript:void(0)">Диана Ковалева</a>
                                        <a href="javascript:void(0)">Наталья Иванова</a>
                                    </div>
                                </form>
                            </div>
                            <div class="personal_information">
                                <div class="personal_score">
                                    <i class="icon-wallet"></i>
                                    <div class="score">
                                        <span>На счету: 1000 руб.</span>
                                        <a href="personal-area-settings.html#balance" data-id="#balance" class="replenish">Пополнить</a>
                                    </div>
                                </div>
                                <a href="master-organaizer.html" class="calendar"><i class="icon-calendar"></i><span>Календарь</span></a>
                                <a class="notification" href="javascript:void(0)">
                        <i class="icon-bell-1"></i>
                    </a>
                                <ul class="dropdown-notification">
                                    <li>
                                        <a href="javascript:void(0)" class="link-notification"></a>
                                        <div class="avatar">
                                            <img src="../img/avatar-7.jpg" alt="avatar"></div>
                                        <span>У вас новое сообщение от Ирины Ивановой</span>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="link-notification"></a>
                                        <div class="avatar">
                                            <img src="../img/avatar-7.jpg" alt="avatar"></div>
                                        <span>У вас новое сообщение от Ирины Ивановой</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu">
                                <i class="icon-3-dots"></i>
                            </div>
                        </div>
                        <div class="user">
                            <div class="avatar">
                                <img src="../img/avatar-7.jpg" alt="avatar">
                                <span style="background-image: url(../img/diamond.png);"></span>
                            </div>
                            <div class="name">
                                <span>Наталья Иванова</span>
                                <span>Лучший мастер</span>
                            </div>
                            <a href="#"><i class="icon-arrow-down"></i></a>
                            <div class="dropdown-user">
                                <ul>
                                    <li>
                                        <a href="personal-area-settings.html#my-account" data-id="#my-account" class="go-to link-account"><span class="profile"></span>Профиль </a>
                                    </li>
                                    <li>
                                        <a href="personal-area-settings.html#advertising" data-id="#advertising" class="go-to link-advertising"><i class="icon-increase"></i>Реклама</a>
                                    </li>
                                    <li>
                                        <a href="personal-area-settings.html#services" data-id="#services" class="go-to link-services"><span class="services">
                                    <span></span>
                                    <span></span>
                                </span>Услуги</a>
                                    </li>
                                    <li>
                                        <a href="personal-area-settings.html#rating" data-id="#rating" class="go-to link-rating"><i class="icon-icon1"></i>Рейтинг</a>
                                    </li>
                                    <li>
                                        <a href="personal-area-settings.html#balance" data-id="#balance" class="go-to link-balance"><i class="icon-wallet"></i>Баланс</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="politics-modall">
                <div class="politics-content">
                    <span class="close"></span>
                    <h2>Политика договора-оферты</h2>
                    <div class="politics-body mCustomScrollbar">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        </p>
                        <h3>Quis ipsum suspendisse</h3>
                        <ul>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ul>
                        <h3>Quis ipsum suspendisse</h3>
                        <ol type="1">
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ol>
                        <ol type="1">
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="personal_area_content">
                    <aside class="aside">
                        <ul>
                            <li><a href="index.html"><i class="icon-arrow-in-menu"></i>Главная</a></li>
                            <li><a href="personal-area-master.html"><i class="icon-home"></i>Моя страница</a></li>
                            <li><a href="master-record.html"><i class="icon-calendar"></i>Заявки</a></li>
                            <li><a href="master-clients.html"><i class="icon-woman"></i>Клиенты</a></li>
                            <li><a href="master-story.html"><i class="icon-file"></i>История</a></li>
                            <li class="active"><a href="master-message.html"><i class="icon-envelope"></i>Сообщения</a>
                            </li>
                            <li><a href="master-activities.html"><i class="icon-meeting"></i>Мероприятия</a></li>
                            <li><a href="master-foto.html"><i class="icon-icon26"></i>Галерея</a></li>
                            <li><a href="master-reviews.html"><i class="icon-icon16"></i>Отзывы</a></li>
                            <li><a href="master-suppliers.html"><i class="icon-shopping-cart"></i>Поставщики</a></li>
                            <li><a href="#"><i class="icon-student"></i>Обучение</a></li>
                        </ul>
                    </aside>
                    <section class="section section_master">
                        <div class="masseges">
                            <div class="list-profile">
                                <div class="heading">
                                    <div class="heading_action">
                                        <ul>
                                            <li><a class="button_light">Непрочитанные</a></li>
                                            <li><a class="button_light active all-users">Все</a></li>
                                            <li><a class="button_light">Любимые клиенты</a></li>
                                            <li><a class="button_light">Коллеги</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <ul class="users mCustomScrollbar">
                                    <li class="item-user active">
                                        <div class="option">
                                            <span class="close"></span>
                                            <div class="option-cintent">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i
                                                                class="icon-lock"></i>Заблокировать</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)"><i class="icon-bin"></i>Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <i class="option-dots icon-3-dots"></i>
                                        </div>
                                        <div class="avatar">
                                            <img src="../img/avatar-3.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Дина Ковалева<a href="javascript:void(0)" class="avatar-link"></a></h3>
                                        </div>
                                    </li>
                                    <li class="item-user active">
                                        <div class="option">
                                            <span class="close"></span>
                                            <div class="option-cintent">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i
                                                                class="icon-lock"></i>Заблокировать</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)"><i class="icon-bin"></i>Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <i class="option-dots icon-3-dots"></i>
                                        </div>
                                        <div class="avatar">
                                            <img src="../img/master/foto-8.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова <span class="mark">2</span><a href="javascript:void(0)" class="avatar-link"></a></h3>
                                        </div>
                                    </li>
                                    <li class="item-user active">
                                        <div class="option">
                                            <span class="close"></span>
                                            <div class="option-cintent">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i
                                                                class="icon-lock"></i>Заблокировать</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)"><i class="icon-bin"></i>Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <i class="option-dots icon-3-dots"></i>
                                        </div>
                                        <div class="avatar">
                                            <img src="../img/avatar-4.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Александрина Карпинская
                                                <a href="javascript:void(0)" class="avatar-link"></a></h3>
                                        </div>
                                    </li>
                                    <li class="item-user active">
                                        <div class="option">
                                            <span class="close"></span>
                                            <div class="option-cintent">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i
                                                                class="icon-lock"></i>Заблокировать</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)"><i class="icon-bin"></i>Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <i class="option-dots icon-3-dots"></i>
                                        </div>
                                        <div class="avatar">
                                            <img src="../img/avatar-1.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Евгения Шульга<a href="javascript:void(0)" class="avatar-link"></a></h3>
                                        </div>
                                    </li>
                                    <li class="item-user active">
                                        <div class="option">
                                            <span class="close"></span>
                                            <div class="option-cintent">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i
                                                                class="icon-lock"></i>Заблокировать</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)"><i class="icon-bin"></i>Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <i class="option-dots icon-3-dots"></i>
                                        </div>
                                        <div class="avatar">
                                            <img src="../img/avatar-6.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Анна Коваль<a href="javascript:void(0)" class="avatar-link"></a></h3>
                                        </div>
                                    </li>
                                    <li class="item-user active">
                                        <div class="option">
                                            <span class="close"></span>
                                            <div class="option-cintent">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i
                                                                class="icon-lock"></i>Заблокировать</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)"><i class="icon-bin"></i>Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <i class="option-dots icon-3-dots"></i>
                                        </div>
                                        <div class="avatar">
                                            <img src="../img/avatar-5.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова<a href="javascript:void(0)" class="avatar-link"></a>
                                            </h3>
                                        </div>
                                    </li>
                                    <li class="item-user active">
                                        <div class="option">
                                            <span class="close"></span>
                                            <div class="option-cintent">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i
                                                                class="icon-lock"></i>Заблокировать</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)"><i class="icon-bin"></i>Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <i class="option-dots icon-3-dots"></i>
                                        </div>
                                        <div class="avatar">
                                            <img src="../img/master/foto-6.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова<a href="javascript:void(0)" class="avatar-link"></a>
                                            </h3>
                                        </div>
                                    </li>
                                    <li class="item-user active">
                                        <div class="option">
                                            <span class="close"></span>
                                            <div class="option-cintent">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i
                                                                class="icon-lock"></i>Заблокировать</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)"><i class="icon-bin"></i>Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <i class="option-dots icon-3-dots"></i>
                                        </div>
                                        <div class="avatar">
                                            <img src="../img/avatar-2.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова<a href="javascript:void(0)" class="avatar-link"></a>
                                            </h3>
                                        </div>
                                    </li>
                                    <li class="item-user active">
                                        <div class="option">
                                            <span class="close"></span>
                                            <div class="option-cintent">
                                                <ul>
                                                    <li><a href="javascript:void(0)"><i
                                                                class="icon-lock"></i>Заблокировать</a>
                                                    </li>
                                                    <li><a href="javascript:void(0)"><i class="icon-bin"></i>Удалить</a>
                                                    </li>
                                                </ul>
                                            </div>
                                            <i class="option-dots icon-3-dots"></i>
                                        </div>
                                        <div class="avatar">
                                            <img src="../img/avatar-1.jpg" alt="avatar">
                                            <a href="javascript:void(0)" class="avatar-link"></a>
                                        </div>
                                        <div class="title">
                                            <h3>Наталья Иванова<a href="javascript:void(0)" class="avatar-link"></a>
                                            </h3>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div class="list-message">
                                <div class="heading">
                                    <div class="avatar">
                                        <img src="../img/avatar-1.jpg" alt="avatar">
                                        <a href="master-client.html" class="avatar-link"></a>
                                    </div>
                                    <div class="title">
                                        <h3>Наталья Иванова<a href="master-client.html" class="avatar-link"></a></h3>
                                    </div>
                                    <div class="option">
                                        <div class="option-cintent">
                                            <ul>
                                                <li><a href="javascript:void(0)"><i
                                                            class="icon-lock"></i>Заблокировать</a>
                                                </li>
                                                <li><a href="javascript:void(0)"><i class="icon-bin"></i>Удалить</a>
                                                </li>
                                                <li><a href="javascript:void(0)"><i class="icon-heart-2"></i>Любимый
                                                        клиент</a></li>
                                            </ul>
                                        </div>
                                        <i class="option-dots icon-3-dots"></i>
                                    </div>
                                </div>
                                <div class="all-message mCustomScrollbar">
                                    <span class="date">18 Июня, 2019 в 12:45 </span>
                                    <div class="message my-message">
                                        <div class="title-message">
                                            <span class="name">Дина Ковалева</span>
                                            <span class="time">13:18</span>
                                        </div>
                                        <p>
                                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI
                                        </p>
                                    </div>
                                    <div class="message my-message">
                                        <div class="title-message">
                                            <span class="name">Дина Ковалева</span>
                                            <span class="time">13:23</span>
                                        </div>
                                        <div class="image-message">
                                            <img src="../img/master/foto-message.jpg" alt="image">
                                        </div>
                                    </div>
                                    <div class="message">
                                        <div class="title-message">
                                            <span class="name">Дина Ковалева</span>
                                            <span class="time">13:42</span>
                                        </div>
                                        <p>
                                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне.
                                        </p>
                                    </div>
                                    <div class="message">
                                        <div class="title-message">
                                            <span class="time">13:42</span>
                                        </div>
                                        <div class="message-action">
                                            <p>
                                                Наталья Иванова поделилась с вами <a href="#">черным списком</a>
                                            </p>
                                            <button class="button_light to-accept">Принять</button>
                                            <button class="button_light reject">Отклонить</button>
                                            <button class="button_light accepted">Принято</button>
                                            <button class="button_light rejected">Отклонено</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="writeMessage">
                                    <form>
                                        <ul class="message-form">
                                            <li><i class="icon-smile"></i></li>
                                            <li>
                                                <div class="writeMessage-file">
                                                    <input type="file" name="file" id="file" class="inputfile" accept="image/*">
                                                    <label for="file"><i class="icon-icon26"></i></label>
                                                </div>
                                            </li>
                                            <li>
                                                <a href="master-organaizer.html">
                                                    <i class="icon-calendar"></i>
                                                </a>
                                            </li>
                                        </ul>
                                        <div class="writeMessage-text">
                                            <textarea class="checkTextarea" placeholder="Написать свой отзыв" type="text"></textarea>
                                            <button></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </section>

                </div>
            </div>



            <footer class="footer">
                <div class="container">
                    <div class="footer_body">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo.png"></a>
                        </div>
                        <p> © Все права защищены, 2019</p>
                        <a href="javascript:void(0)" class="politics">Политика конфиденциальности</a>
                    </div>
                </div>
            </footer>

        </main>


    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/master-message.min.js"></script>

</body>

</html>