<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/master-record.css" data-inprogress="">

</head>

<body class="body" id="body">
    <div class="wrapper">
        <main class="main">

            <header class="header_personal">
                <div class="container">
                    <div class="navigation">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo-dark.png"></a>
                        </div>
                        <div class="header_action">
                            <div class="search">
                                <i class="icon-search iSearch"></i>
                                <form class="form">
                                    <div class="form-input" id="headerSearch">
                                        <button class="button"><i class="icon-search"></i></button>
                                        <input name="search" class="search-query" type="text" placeholder="Поиск">
                                    </div>
                                    <div class="search-results">
                                        <a href="javascript:void(0)">Диана Ковалева</a>
                                        <a href="javascript:void(0)">Наталья Иванова</a>
                                    </div>
                                </form>
                            </div>
                            <div class="personal_information">
                                <div class="personal_score">
                                    <i class="icon-wallet"></i>
                                    <div class="score">
                                        <span>На счету: 1000 руб.</span>
                                        <a href="personal-area-settings.html#balance" data-id="#balance" class="replenish">Пополнить</a>
                                    </div>
                                </div>
                                <a href="master-organaizer.html" class="calendar"><i class="icon-calendar"></i><span>Календарь</span></a>
                                <a class="notification" href="javascript:void(0)">
                        <i class="icon-bell-1"></i>
                    </a>
                                <ul class="dropdown-notification">
                                    <li>
                                        <a href="javascript:void(0)" class="link-notification"></a>
                                        <div class="avatar">
                                            <img src="../img/avatar-7.jpg" alt="avatar"></div>
                                        <span>У вас новое сообщение от Ирины Ивановой</span>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="link-notification"></a>
                                        <div class="avatar">
                                            <img src="../img/avatar-7.jpg" alt="avatar"></div>
                                        <span>У вас новое сообщение от Ирины Ивановой</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu">
                                <i class="icon-3-dots"></i>
                            </div>
                        </div>
                        <div class="user">
                            <div class="avatar">
                                <img src="../img/avatar-7.jpg" alt="avatar">
                                <span style="background-image: url(../img/diamond.png);"></span>
                            </div>
                            <div class="name">
                                <span>Наталья Иванова</span>
                                <span>Лучший мастер</span>
                            </div>
                            <a href="#"><i class="icon-arrow-down"></i></a>
                            <div class="dropdown-user">
                                <ul>
                                    <li>
                                        <a href="personal-area-settings.html#my-account" data-id="#my-account" class="go-to link-account"><span class="profile"></span>Профиль </a>
                                    </li>
                                    <li>
                                        <a href="personal-area-settings.html#advertising" data-id="#advertising" class="go-to link-advertising"><i class="icon-increase"></i>Реклама</a>
                                    </li>
                                    <li>
                                        <a href="personal-area-settings.html#services" data-id="#services" class="go-to link-services"><span class="services">
                                    <span></span>
                                    <span></span>
                                </span>Услуги</a>
                                    </li>
                                    <li>
                                        <a href="personal-area-settings.html#rating" data-id="#rating" class="go-to link-rating"><i class="icon-icon1"></i>Рейтинг</a>
                                    </li>
                                    <li>
                                        <a href="personal-area-settings.html#balance" data-id="#balance" class="go-to link-balance"><i class="icon-wallet"></i>Баланс</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>

            <div class="modall-calendar">
                <div class="modall-body">
                    <h3>Настроить календарь</h3>
                    <div class="content">
                        <div id='calendar3' class="calendar3"></div>
                        <div class="item-time">
                            <h3>Рабочее время</h3>
                            <ul>
                                <li>12:00</li>
                                <li>14:00</li>
                                <li>15:30</li>
                                <li>16:00</li>
                                <li>16:30</li>
                                <li>17:30</li>
                            </ul>
                            <a class="add" href="master-organaizer.html">+</a>
                            <div class="item-action">
                                <button class="button_light active">Сохранить</button>
                                <button class="button_light cancellation">Отменить</button>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

            <div class="politics-modall">
                <div class="politics-content">
                    <span class="close"></span>
                    <h2>Политика договора-оферты</h2>
                    <div class="politics-body mCustomScrollbar">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        </p>
                        <h3>Quis ipsum suspendisse</h3>
                        <ul>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ul>
                        <h3>Quis ipsum suspendisse</h3>
                        <ol type="1">
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ol>
                        <ol type="1">
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="personal_area_content">
                    <aside class="aside">
                        <ul>
                            <li><a href="index.html"><i class="icon-arrow-in-menu"></i>Главная</a></li>
                            <li><a href="personal-area-master.html"><i class="icon-home"></i>Моя страница</a></li>
                            <li class="active"><a href="master-record.html"><i class="icon-calendar"></i>Заявки</a></li>
                            <li><a href="master-clients.html"><i class="icon-woman"></i>Клиенты</a></li>
                            <li><a href="master-story.html"><i class="icon-file"></i>История</a></li>
                            <li><a href="master-message.html"><i class="icon-envelope"></i>Сообщения</a></li>
                            <li><a href="master-activities.html"><i class="icon-meeting"></i>Мероприятия</a></li>
                            <li><a href="master-foto.html"><i class="icon-icon26"></i>Галерея</a></li>
                            <li><a href="master-reviews.html"><i class="icon-icon16"></i>Отзывы</a></li>
                            <li><a href="master-suppliers.html"><i class="icon-shopping-cart"></i>Поставщики</a></li>
                            <li><a href="#"><i class="icon-student"></i>Обучение</a></li>
                        </ul>
                    </aside>
                    <section class="section section_record">
                        <div class="users">
                            <div class="heading">
                                <h3>Запись</h3>
                                <div class="search">
                                    <form>
                                        <div class="form-input" id="Search">
                                            <i class="icon-search"></i>
                                            <input name="search" class="search-query" type="text" placeholder="Найти мастера">
                                        </div>
                                    </form>
                                </div>
                                <div class="heading_action">
                                    <a href="javascript:void(0)" class="choose">Выбрать из списка</a>
                                    <ul class="filter">
                                        <li class="active"><a class="button_light">Все</a></li>
                                        <li><a class="button_light">Заявки</a></li>
                                        <li id="acivities"><a class="button_light">Запись</a></li>
                                    </ul>
                                </div>
                            </div>
                            <ul class="list mCustomScrollbar">
                                <li class="item">
                                    <div class="avatar">
                                        <img src="../img/img-16.jpg" alt="avatar">
                                    </div>
                                    <div class="title">
                                        <h3>Наталья Иванова</h3>
                                    </div>
                                    <span class="pencil"></span>
                                </li>
                                <li class="item active">
                                    <div class="avatar">
                                        <img src="../img/avatar-3.jpg" alt="avatar">
                                        <span class="heart" style="background-image: url(../img/heart.png);"></span>
                                    </div>
                                    <div class="title">
                                        <h3>Дина Ковалева</h3>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="avatar">
                                        <img src="../img/avatar-4.jpg" alt="avatar">
                                    </div>
                                    <div class="title">
                                        <h3>Александрина Карпинская
                                        </h3>
                                    </div>
                                    <span class="pencil"></span>
                                </li>
                                <li class="item">
                                    <div class="avatar">
                                        <img src="../img/avatar-1.jpg" alt="avatar">
                                    </div>
                                    <div class="title">
                                        <h3>Евгения Шульга</h3>
                                    </div>
                                    <span class="pencil"></span>
                                </li>
                                <li class="item">
                                    <div class="avatar">
                                        <img src="../img/avatar-6.jpg" alt="avatar">
                                    </div>
                                    <div class="title">
                                        <h3>Дина Ковалева</h3>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="avatar">
                                        <img src="../img/avatar-5.jpg" alt="avatar">
                                    </div>
                                    <div class="title">
                                        <h3>Наталья Иванова</h3>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="avatar">
                                        <img src="../img/master/foto-6.jpg" alt="avatar">
                                    </div>
                                    <div class="title">
                                        <h3>Наталья Иванова</h3>
                                    </div>
                                </li>
                                <li class="item">
                                    <div class="avatar">
                                        <img src="../img/avatar-2.jpg" alt="avatar">
                                    </div>
                                    <div class="title">
                                        <h3>Наталья Иванова</h3>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="list-record">
                            <div class="heading">
                                <div class="avatar">
                                    <img src="../img/avatar-1.jpg" alt="avatar">
                                </div>
                                <div class="title">
                                    <h3>Наталья Иванова</h3>
                                </div>
                                <div class="option">
                                    <div class="option-cintent">
                                        <ul>
                                            <li><a href="javascript:void(0)"><i class="icon-lock"></i>Заблокировать</a>
                                            </li>
                                            <li><a href="javascript:void(0)"><i class="icon-bin"></i>Удалить</a></li>
                                            <li><a href="javascript:void(0)"><i class="icon-heart-2"></i>Любимый
                                                    клиент</a></li>
                                        </ul>
                                    </div>
                                    <i class="option-dots icon-3-dots"></i>
                                </div>
                            </div>
                            <div class="item-information">
                                <ul>
                                    <li>Услуга: Покраска волос</li>
                                    <li>Дата: 03.07.2019 в 14:00</li>
                                    <li>Время: 14:00</li>
                                </ul>
                                <ul>
                                    <li>Мастер: Наталья Иванова</li>
                                    <li>Адрес: г. Москва, ул. Мира 34, Салон «Николь»</li>
                                </ul>
                                <span>Сумма: 6 000 руб.</span>
                            </div>
                            <div class="item-content">
                                <p>
                                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI века.
                                </p>
                                <p>
                                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной рыбой" для текстов на латинице с начала XVI века.
                                </p>
                            </div>
                            <div id='calendar2' class="calendar2"></div>
                            <div class="item-time">
                                <div class="item-header">
                                    <span class="date">3 Июля</span>
                                    <span class="confirm">Подтвердите время</span>
                                </div>
                                <ul>
                                    <li>13:00</li>
                                    <li class="active">14:00</li>
                                    <li>15:30</li>
                                    <li>16:30</li>
                                </ul>
                                <div class="item-action">
                                    <button class="button_light active">Подтвердить</button>
                                    <button class="button_light">Отменить</button>
                                    <button class="button_light calendar-button">Перенести запись</button>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="footer_body">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo.png"></a>
                        </div>
                        <p> © Все права защищены, 2019</p>
                        <a href="javascript:void(0)" class="politics">Политика конфиденциальности</a>
                    </div>
                </div>
            </footer>

        </main>
    </div>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/moment.min.js"></script>
    <script src="../js/fullcalendar.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/master-record.min.js"></script>


</body>

</html>