<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/personal-area-master-activities.css" data-inprogress="">
</head>

<body class="body" id="body">
    <div class="wrapper">
        <main class="main">

            <header class="header_personal">
                <div class="container">
                    <div class="navigation">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo-dark.png"></a>
                        </div>
                        <div class="header_action">
                            <div class="search">
                                <i class="icon-search iSearch"></i>
                                <form class="form">
                                    <div class="form-input" id="headerSearch">
                                        <button class="button"><i class="icon-search"></i></button>
                                        <input name="search" class="search-query" type="text" placeholder="Поиск">
                                    </div>
                                    <div class="search-results">
                                        <a href="javascript:void(0)">Диана Ковалева</a>
                                        <a href="javascript:void(0)">Наталья Иванова</a>
                                    </div>
                                </form>
                            </div>
                            <div class="personal_information">
                                <div class="personal_score">
                                    <i class="icon-wallet"></i>
                                    <div class="score">
                                        <span>На счету: 1000 руб.</span>
                                        <a href="personal-area-settings.html" class="replenish">Пополнить</a>
                                    </div>
                                </div>
                                <a href="master-organaizer.html" class="calendar"><i class="icon-calendar"></i><span>Календарь</span></a>
                                <a class="notification" href="javascript:void(0)">
                        <i class="icon-bell-1"></i>
                    </a>
                                <ul class="dropdown-notification">
                                    <li>
                                        <a href="javascript:void(0)" class="link-notification"></a>
                                        <div class="avatar">
                                            <img src="../img/avatar-7.jpg" alt="avatar"></div>
                                        <span>У вас новое сообщение от Ирины Ивановой</span>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)" class="link-notification"></a>
                                        <div class="avatar">
                                            <img src="../img/avatar-7.jpg" alt="avatar"></div>
                                        <span>У вас новое сообщение от Ирины Ивановой</span>
                                    </li>
                                </ul>
                            </div>
                            <div class="menu">
                                <i class="icon-3-dots"></i>
                            </div>
                        </div>
                        <div class="user">
                            <div class="avatar">
                                <img src="../img/avatar-7.jpg" alt="avatar">
                                <span style="background-image: url(../img/diamond.png);"></span>
                            </div>
                            <div class="name">
                                <span>Наталья Иванова</span>
                                <span>Лучший мастер</span>
                            </div>
                            <a href="#"><i class="icon-arrow-down"></i></a>
                            <div class="dropdown-user">
                                <ul>
                                    <li>
                                        <a href="javascript:void(0)"><span class="profile"></span>Профиль </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-increase"></i>Реклама</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><span class="services">
                                    <span></span>
                                    <span></span>
                                </span>Услуги</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-icon1"></i>Рейтинг</a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)"><i class="icon-wallet"></i>Баланс</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <div class="container">
                <div class="personal_area_content">
                    <aside class="aside">
                        <ul>
                            <li><a href="index.html"><i class="icon-arrow-in-menu"></i>Главная</a></li>
                            <li><a href="personal-area-master.html"><i class="icon-home"></i>Моя страница</a></li>
                            <li><a href="master-record.html"><i class="icon-calendar"></i>Заявки</a></li>
                            <li><a href="personal-area-master-clients.html"><i class="icon-woman"></i>Клиенты</a></li>
                            <li><a href="personal-area-story-master.html"><i class="icon-file"></i>История</a></li>
                            <li><a href="master-message.html"><i class="icon-envelope"></i>Сообщения</a></li>
                            <li><a href="personal-area-master-activities.html"><i
                                        class="icon-meeting"></i>Мероприятия</a></li>
                            <li><a href="personal-area-master-foto.html"><i class="icon-icon26"></i>Галерея</a></li>
                            <li><a href="personal-area-master-reviews.html"><i class="icon-icon16"></i>Отзывы</a></li>
                            <li><a href="master-suppliers.html"><i class="icon-shopping-cart"></i>Поставщики</a></li>
                            <li><a href="#"><i class="icon-student"></i>Обучение</a></li>
                        </ul>
                    </aside>
                    <section class="section section_master">
                        <div class="item-events">
                            <div class="heading">

                                <h3>МК на этой неделе<span>21.07 - 28.07</span></h3>
                                <div class="heading_action">
                                    <ul>
                                        <li><a class="link-settings" href="javascript:void(0)">Парикмахер<i
                                                    class="settings icon-settings-1"></i></a></li>
                                        <li><a class="button_light" href="javascript:void(0)">Создать мероприятие</a>
                                        </li>
                                        <li><a href="personal-area-master-my-activities.html" class="button_light active">Мои МК</a></li>
                                    </ul>
                                    <div class="filter-settings">
                                        <form>
                                            <div class="checkbox">
                                                <div class="checkbox-item">
                                                    <input id="value4" type="checkbox">
                                                    <label for="value4">Товары для стрижки</label>
                                                </div>
                                                <div class="checkbox-item">
                                                    <input id="value1" type="checkbox" checked>
                                                    <label for="value1">Товары для окраски волос</label>
                                                </div>
                                                <div class="checkbox-item">
                                                    <input id="value2" type="checkbox">
                                                    <label for="value2">Заколки</label>
                                                </div>
                                                <div class="checkbox-item">
                                                    <input id="value3" type="checkbox">
                                                    <label for="value3">Инструменты для маникюра</label>
                                                </div>
                                                <div class="checkbox-item">
                                                    <input id="value4" type="checkbox">
                                                    <label for="value4">Товары для косметологии</label>
                                                </div>
                                                <div class="checkbox-item">
                                                    <input id="value5" type="checkbox">
                                                    <label for="value5">Товары для стрижки</label>
                                                </div>
                                                <div class="checkbox-item">
                                                    <input id="value6" type="checkbox">
                                                    <label for="value6">Товары для окраски волос</label>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="list-events">
                                <div class="item" style="background-image: url(../img/master/photo-mk.jpg)">
                                    <a href="javascript:void(0)" class="link-activities"></a>
                                    <div class="avatar">
                                        <img src="../img/avatar-3.jpg" alt="avatar"></div>
                                    <h3>Дина Ковалева<span>Лучший мастер</span></h3>
                                </div>
                                <div class="item" style="background-image: url(../img/master/photo-mk-4.jpg)">
                                    <a href="javascript:void(0)" class="link-activities"></a>
                                    <div class="avatar">
                                        <img src="../img/avatar-3.jpg" alt="avatar"></div>
                                    <h3>Дина Ковалева<span>Лучший мастер</span></h3>
                                </div>
                                <div class="item" style="background-image: url(../img/master/photo-mk-2.jpg)">
                                    <a href="javascript:void(0)" class="link-activities"></a>
                                    <div class="avatar">
                                        <img src="../img/avatar-3.jpg" alt="avatar"></div>
                                    <h3>Александрина Карпинская<span>Лучший мастер</span></h3>
                                </div>
                                <div class="item" style="background-image: url(../img/master/photo-mk.jpg)">
                                    <a href="javascript:void(0)" class="link-activities"></a>
                                    <div class="avatar">
                                        <img src="../img/avatar-3.jpg" alt="avatar"></div>
                                    <h3>Дина Ковалева<span>Лучший мастер</span></h3>
                                </div>
                                <div class="item" style="background-image: url(../img/master/photo-mk-4.jpg)">
                                    <a href="javascript:void(0)" class="link-activities"></a>
                                    <div class="avatar">
                                        <img src="../img/avatar-3.jpg" alt="avatar"></div>
                                    <h3>Дина Ковалева<span>Лучший мастер</span></h3>
                                </div>
                                <div class="item" style="background-image: url(../img/master/photo-mk-2.jpg)">
                                    <a href="javascript:void(0)" class="link-activities"></a>
                                    <div class="avatar">
                                        <img src="../img/avatar-3.jpg" alt="avatar"></div>
                                    <h3>Дина Ковалева<span>Лучший мастер</span></h3>
                                </div>
                                <div class="item" style="background-image: url(../img/master/photo-mk.jpg)">
                                    <a href="javascript:void(0)" class="link-activities"></a>
                                    <div class="avatar">
                                        <img src="../img/avatar-3.jpg" alt="avatar"></div>
                                    <h3>Дина Ковалева<span>Лучший мастер</span></h3>
                                </div>
                                <div class="item" style="background-image: url(../img/master/photo-mk-4.jpg)">
                                    <a href="javascript:void(0)" class="link-activities"></a>
                                    <div class="avatar">
                                        <img src="../img/avatar-3.jpg" alt="avatar"></div>
                                    <h3>Дина Ковалева<span>Лучший мастер</span></h3>
                                </div>
                            </div>
                        </div>
                        <article class="article">
                            <div class="filter-events">
                                <form class="form">
                                    <div class="search">
                                        <div class="form-input events-search">
                                            <button class="button"><i class="icon-search"></i></button>
                                            <input name="search" class="search-query" type="text" placeholder="Поиск">
                                        </div>
                                    </div>
                                    <div class="select">
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                            <option>Тема мероприятия</option>
                                            <option>Тема </option>
                                        </select>
                                    </div>
                                    <div class="select">
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                            <option>Тип мероприятия</option>
                                            <option>Тип </option>
                                        </select>
                                    </div>
                                    <div class="form-column" id="sity">
                                        <input type="text" placeholder="Город">
                                    </div>
                                    <div class="form-column">
                                        <input type="text" placeholder="Город">
                                    </div>
                                    <div class="select">
                                        <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": false}'>
                                            <option>Бесплатно</option>
                                            <option>Тип </option>
                                        </select>
                                    </div>
                                    <div class="form-input date">
                                        <input type='text' id="datepicker" placeholder="Выберите дату">
                                        <label class="icon-calendar" for="datepicker"></label>
                                        <div id="calendar" class="calendar"> </div>
                                    </div>
                                </form>
                            </div>
                            <div class="list-filter-events mCustomScrollbar">
                                <div class="item">
                                    <div class="item_header">
                                        <div class="date">
                                            <span><span>21.07</span>в 16:00</span>
                                        </div>
                                        <div class="description">
                                            <span>По приглашению</span>
                                            <span>г. Москва, ул. Мира, 23А</span>
                                        </div>
                                    </div>
                                    <div class="item-image" style="background-image: url(../img/master/img-1.jpg);">
                                    </div>
                                    <div class="item-content">
                                        <div class="content_header">
                                            <div class="title">
                                                <div class="avatar">
                                                    <img src="../img/avatar-1.jpg" alt="avatar">
                                                    <a href="javascript:void(0)"></a></div>
                                                <a href="javascript:void(0)">Наталья Николаева</a>
                                            </div>
                                        </div>
                                        <h2>Мастер-класс по трендовому окрашиванию</h2>
                                        <p>
                                            Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                        </p>
                                        <p class="content-hide">
                                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                                        </p>
                                        <p class="content-hide">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                                            коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации
                                            в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                                        </p>
                                        <a class="button_light" href="#">Записаться</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item_header">
                                        <div class="date">
                                            <span><span>21.07</span>в 16:00</span>
                                        </div>
                                        <div class="description">
                                            <span>По приглашению</span>
                                            <span>г. Москва, ул. Мира, 23А</span>
                                        </div>
                                    </div>
                                    <div class="item-image" style="background-image: url(../img/master/img-1.jpg);">
                                    </div>
                                    <div class="item-content">
                                        <div class="content_header">
                                            <div class="title">
                                                <div class="avatar">
                                                    <img src="../img/avatar-1.jpg" alt="avatar">
                                                    <a href="javascript:void(0)"></a></div>
                                                <a href="javascript:void(0)">Наталья Николаева</a>
                                            </div>
                                        </div>
                                        <h2>Мастер-класс по трендовому окрашиванию</h2>
                                        <p>
                                            Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                        </p>
                                        <p class="content-hide">
                                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                                        </p>
                                        <p class="content-hide">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                                            коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации
                                            в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                                        </p>
                                        <a class="button_light" href="#">Записаться</a>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="item_header">
                                        <div class="date">
                                            <span><span>21.07</span>в 16:00</span>
                                        </div>
                                        <div class="description">
                                            <span>По приглашению</span>
                                            <span>г. Москва, ул. Мира, 23А</span>
                                        </div>
                                    </div>
                                    <div class="item-image" style="background-image: url(../img/master/img-1.jpg);">
                                    </div>
                                    <div class="item-content">
                                        <div class="content_header">
                                            <div class="title">
                                                <div class="avatar">
                                                    <img src="../img/avatar-1.jpg" alt="avatar">
                                                    <a href="javascript:void(0)"></a></div>
                                                <a href="javascript:void(0)">Наталья Николаева</a>
                                            </div>
                                        </div>
                                        <h2>Мастер-класс по трендовому окрашиванию</h2>
                                        <p>
                                            Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                                        </p>
                                        <p class="content-hide">
                                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                                        </p>
                                        <p class="content-hide">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую
                                            коллекцию размеров и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации
                                            в новое время послужили публикация листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                                        </p>
                                        <a class="button_light" href="#">Записаться</a>
                                    </div>
                                </div>
                            </div>
                        </article>
                    </section>
                </div>
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="footer_body">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo.png"></a>
                        </div>
                        <p> © Все права защищены, 2019</p>
                        <a href="javascript:void(0)">Политика конфиденциальности</a>
                    </div>
                </div>
            </footer>

        </main>
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.ui.touch-punch.min.js"></script>
    <script src="../js/jquery-ui.datepicker.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/master-activities.min.js"></script>

</body>

</html>