<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.png">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">

</head>

<body class="body" id="body">
    <div class="wrapper">
        <main class="main">
            <ul>
                <li>
                    <a class="services-button" href="javascript:void(0)">Попап Услуг</a>
                    <!-- modall-services -->
                </li>
                <li>
                    <a class="activities-button" href="javascript:void(0)">Попап Мероприятие</a>
                    <!-- modall-activities -->
                </li>
                <li>
                    <a class="record-button" href="javascript:void(0)">Попап Запись</a>
                    <!-- modall-record -->
                </li>
                <li>
                    <a class="user-button" href="javascript:void(0)">Попап Клиент</a>
                    <!-- modall-user -->
                </li>
                <li>
                    <a class="foto-button" href="javascript:void(0)">Попап Фото</a>
                    <!-- modall-foto -->
                </li>
                <li>
                    <a class="thanks-button" href="javascript:void(0)">Спасибо!</a>
                    <!-- modall-ok -->
                </li>
                <li>
                    <a class="raiting-button" href="javascript:void(0)">Оцените данного мастера</a>
                    <!-- modall-raiting -->
                </li>
                <li>
                    <a class="event-button" href="javascript:void(0)">Событие в Календаре</a>
                    <!-- modall-events -->
                </li>
            </ul>
            <div class="modall-services">
                <div class="modall-body">
                    <span class="close"></span>
                    <div class="description">
                        <div class="image" style="background-image: url(../img/master/img-2.jpg)"></div>

                        <h3>Покраска волос в технике шатуш
                        </h3>
                        <p>
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
                            Lorem Ipsum для распечатки образцов.
                        </p>
                        <p> Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник
                        </p>

                        <p>
                            Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов, используя
                            Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация листов Letraset с образцами
                            Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.
                        </p>
                        <span class="price">от 10 000 руб.</span>
                        <span class="date">Акция действует до 31.08.2019</span>
                        <button class="button_light">Записатьcя</button>

                    </div>
                </div>
            </div>

            <div class="modall-activities">
                <div class="modall-body">
                    <span class="close"></span>
                    <div class="item">
                        <div class="item_header">
                            <div class="date">
                                <span><span>21.07</span>в 16:00</span>
                            </div>
                            <div class="description">
                                <span>По приглашению</span>
                                <span>г. Москва, ул. Мира, 23А</span>
                            </div>
                        </div>
                        <div class="item-image" style="background-image: url(../img/master/img-1.jpg);">
                        </div>
                        <div class="item-content">
                            <div class="content_header">
                                <div class="title">
                                    <div class="avatar">
                                        <img src="../img/avatar-1.jpg" alt="avatar">
                                        <a href="master-client.html"></a></div>
                                    <a href="master-client.html">Наталья Николаева</a>
                                </div>
                            </div>
                            <h2>Мастер-класс по трендовому окрашиванию</h2>
                            <p>
                                Это возможность всего за 1 день овладеть навыками окрашивания в 3 самых популярных техниках...
                            </p>
                            <p class="content-hide">
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров и форм шрифтов,
                            </p>
                            <p class="content-hide">Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является стандартной "рыбой" для текстов на латинице с начала XVI века. В то время некий безымянный печатник создал большую коллекцию размеров
                                и форм шрифтов, используя Lorem Ipsum для распечатки образцов. Lorem Ipsum не только успешно пережил без заметных изменений пять веков, но и перешагнул в электронный дизайн. Его популяризации в новое время послужили публикация
                                листов Letraset с образцами Lorem Ipsum в 60-х годах и, в более недавнее время, программы электронной вёрстки типа Aldus PageMaker, в шаблонах которых используется Lorem Ipsum.</p>
                            <a class="button_light active" href="#">Записаться</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modall-record">
                <div class="modall-body">
                    <span class="close"></span>
                    <div class="heading">
                        <h2>Запись к мастеру</h2>
                    </div>
                    <div class="content">
                        <div class="item-user">
                            <div class="avatar">
                                <img src="../img/avatar-1.jpg" alt="avatar">
                                <a href="master-client.html"></a>
                                <span style="background-image: url(../img/diamond.png);"></span>
                            </div>
                            <div class="item-name">
                                <p>Наталья Иванова<a href="master-client.html"></a></p>
                                <span>Салон “Николь”</span>
                            </div>
                            <div class="item-action">
                                <button class="button_light">Отменить запись</button>
                            </div>
                        </div>
                        <div class="item-record">
                            <ul>
                                <li>Дата: 3 июня 2019 г.</li>
                                <li>Время: 15:30</li>
                                <li>Покраска и укладка волос</li>
                                <li>Адрес: ул. Мира, 25. Салон Николь</li>
                            </ul>
                            <div class="item-action">
                                <button class="button_light">Другое время</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modall-user">
                <div class="modall-body">
                    <span class="close"></span>
                    <div class="item-user">
                        <div class="avatar">
                            <img src="../img/avatar-1.jpg" alt="avatar">
                            <a href="master-client.html"></a>
                            <span style="background-image: url(../img/diamond.png);"></span>
                        </div>
                        <div class="item-name">
                            <p>Наталья Иванова <a href="master-client.html"></a></p>
                            <span>Лучший клиент</span>
                        </div>
                        <div class="item-action">
                            <a href="tel:+71234567890"><i class="icon-phone-receiver"></i>+7 (123) 456 78 90</a>
                            <a href="tel:+71234567890"><i class="icon-viber"></i>+7 (123) 456 78 90</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modall-foto">
                <div class="modall-body">
                    <div class="image">
                        <div class="image-item"><img src="../img/master/pop-up.jpg"></div>
                        <div class="image-item"><img src="../img/master/pop-up.jpg"></div>
                        <div class="image-item"><img src="../img/master/pop-up.jpg"></div>
                        <div class="image-item"><img src="../img/master/pop-up.jpg"></div>
                        <div class="image-item"><img src="../img/master/pop-up.jpg"></div>
                    </div>
                    <div class="comment">
                        <div class="description">
                            <div class="item-user">
                                <div class="avatar">
                                    <img src="../img/avatar-7.jpg">
                                    <a href="master-client.html"></a>
                                    <span style="background-image: url(../img/diamond.png);"></span>
                                </div>
                                <div class="title">
                                    <h3>Наталья Иванова <a href="master-client.html"></a></h3>
                                    <span>Лучший мастер</span>
                                </div>
                            </div>
                            <p>
                                Lorem Ipsum - это текст-"рыба", часто используемый
                            </p>
                            <p>
                                Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является станд. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum
                            </p>
                        </div>
                        <div class="reviews mCustomScrollbar">
                            <div class="item">
                                <div class="item-user">
                                    <div class="avatar">
                                        <img src="../img/avatar-1.jpg">
                                        <a href="master-client.html"></a>
                                    </div>
                                    <div class="title">
                                        <h3>Наталья Иванова <a href="master-client.html"></a></h3>
                                        <span class="time">21.05.2019</span>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является станд. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является станд
                                </p>
                            </div>
                            <div class="item">
                                <div class="item-user">
                                    <div class="avatar">
                                        <img src="../img/avatar-1.jpg">
                                        <a href="master-client.html"></a>
                                    </div>
                                    <div class="title">
                                        <h3>Наталья Иванова <a href="master-client.html"></a></h3>
                                        <span class="time">21.05.2019</span>
                                    </div>
                                </div>
                                <p>
                                    Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является станд. Lorem Ipsum - это текст-"рыба", часто используемый в печати и вэб-дизайне. Lorem Ipsum является станд
                                </p>
                            </div>
                        </div>
                    </div>
                    <form class="form-reviews">
                        <textarea placeholder="Добавить коментарий"></textarea>
                        <div class="action">
                            <a href="#"><i class="icon-smile"></i></a>
                            <button class="icon-send-comment"></button>
                        </div>
                    </form>
                </div>
            </div>

            <div class="modall-ok">
                <div class="modall-body">
                    <span class="close"></span>
                    <p>Спасибо!</p>
                </div>
            </div>

            <div class="modall-raiting">
                <div class="modall-body">
                    <span class="close"></span>
                    <p>Оцените данного мастера</p>
                    <div class="rating-data">
                        <i class="icon-icon1 active"></i>
                        <i class="icon-icon1 active"></i>
                        <i class="icon-icon1 active"></i>
                        <i class="icon-icon1"></i>
                        <i class="icon-icon1"></i>
                    </div>
                </div>
            </div>

            <div class="modall-events">
                <div class="modall-body">
                    <span class="close"></span>
                    <h3>3 июля</h3>
                    <ul class="events mCustomScrollbar">
                        <li class="item-event blue">
                            <a href="javascript:void(0)" class="page-link"></a>
                            <span class="time">
                                10:00
                            </span>
                            <div class="event-body">
                                <p>Окрашивание</p>
                                <span>Наталья Иванова</span>
                            </div>
                            <span class="price">300 руб.</span>
                        </li>
                        <li class="item-event orange">
                            <a href="javascript:void(0)" class="page-link"></a>
                            <span class="time">
                                12:00
                            </span>
                            <div class="event-body">
                                <p>Мастер-класс по трендовому окрашиванию
                                </p>
                            </div>
                            <i class="icon-meeting"></i>
                        </li>
                        <li class="item-event pink">
                            <a href="javascript:void(0)" class="page-link"></a>
                            <span class="time">
                                14:00
                            </span>
                            <div class="event-body">
                                <p>Стрижка и укладка</p>
                                <span>Дина Ковалева</span>
                            </div>
                            <span class="price">300 руб.</span>
                        </li>
                        <li class="item-event orange">
                            <a href="javascript:void(0)" class="page-link"></a>
                            <span class="time">
                                15:00
                            </span>
                            <div class="event-body">
                                <p>Мастер-класс по трендовому окрашиванию
                                </p>
                            </div>
                            <div class="metteng">
                                <i class="icon-meeting"></i>
                                <span>по пригл.</span>
                            </div>
                        </li>
                        <li class="item-event grey">
                            <a href="javascript:void(0)" class="page-link"></a>
                            <span class="time">
                                17:00
                            </span>
                            <div class="event-body">
                                <p>Маникюр и педикюр</p>
                                <span>Наталья Иванова</span>
                                <span class="confirmation">ожидается подтверждение</span>
                            </div>
                            <span class="price">300 руб.</span>
                        </li>
                        <li class="item-event grey">
                            <a href="javascript:void(0)" class="page-link"></a>
                            <span class="time">
                                19:00
                            </span>
                            <div class="event-body">
                                <p>Воркшоп для стилистов</p>
                                <span class="confirmation">ожидается подтверждение</span>
                            </div>
                            <div class="metteng">
                                <i class="icon-meeting"></i>
                                <span>20000 руб.</span>
                            </div>
                        </li>
                        <li class="item-event grey">
                            <a href="javascript:void(0)" class="page-link"></a>
                            <span class="time">
                                17:00
                            </span>
                            <div class="event-body">
                                <p>Маникюр и педикюр</p>
                                <span>Наталья Иванова</span>
                                <span class="confirmation">ожидается подтверждение</span>
                            </div>
                            <span class="price">300 руб.</span>
                        </li>
                        <li class="item-event grey">
                            <a href="javascript:void(0)" class="page-link"></a>
                            <span class="time">
                                19:00
                            </span>
                            <div class="event-body">
                                <p>Воркшоп для стилистов</p>
                                <span class="confirmation">ожидается подтверждение</span>
                            </div>
                            <div class="metteng">
                                <i class="icon-meeting"></i>
                                <span>20000 руб.</span>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </main>
    </div>

    <script src="../js/jquery.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>

    <!-- Для попапа фото -->
    <script src="../js/slick.min.js"></script>

</body>

</html>