<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="cmsmagazine" content="5a7189a28fb3dc68238dbdb44c9ea99c" />
    <title>Поиск</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="icon" type="image/png" sizes="16x16" href="../img/favicon.ico">
    <link rel="stylesheet" href="../css/style.css" data-inprogress="">
    <link rel="stylesheet" href="../css/search.css" data-inprogress="">
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU"></script>

</head>

<body class="body" id="body">
    <div class="wrapper">
        <main class="main">



            <header class="header">
                <div class="container">
                    <nav class="nav">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo.png"></a>
                        </div>
                        <div class="header_action">
                            <a href="javascript:void(0)" class="register">Зарегистрироваться</a>
                            <a href="javascript:void(0)">Войти</a>
                        </div>
                    </nav>
                </div>
            </header>

            <div class="politics-modall">
                <div class="politics-content">
                    <span class="close"></span>
                    <h2>Политика договора-оферты</h2>
                    <div class="politics-body mCustomScrollbar">
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis.
                        </p>
                        <h3>Quis ipsum suspendisse</h3>
                        <ul>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ul>
                        <h3>Quis ipsum suspendisse</h3>
                        <ol type="1">
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ol>
                        <ol type="1">
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                            <li>
                                <p> Quis ipsum suspendisse </p>
                            </li>
                        </ol>
                    </div>
                </div>
            </div>

            <section class="section section_search">
                <div class="container">
                    <div class="logo">
                        <a href="index.html"><img alt="" src="../img/logo.png"></a>
                    </div>
                    <form>
                        <div class="list-check">
                            <label><input type="checkbox">Определить мое местоположение</label>
                        </div>
                        <div class="form_group">
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>г. Москва</option>
                                    <option>г. Москва</option>
                                    <option>г. Москва</option>
                                </select>
                            </div>
                            <div class="list-check">
                                <label><input type="checkbox">Найти по карте</label>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>ст. м. Соко...</option>
                                    <option>ст. м. Соко...</option>
                                    <option>ст. м. Соко...</option>
                                </select>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>Парикмахер</option>
                                    <option>Визажист</option>
                                    <option>Стилист</option>
                                </select>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>Стрижка</option>
                                    <option>Стрижка</option>
                                    <option>Стрижка</option>
                                </select>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>15.05.19</option>
                                    <option>15.05.19</option>
                                    <option>15.05.19</option>
                                </select>
                            </div>
                            <div class="list-check">
                                <div class="block">
                                    <label><input type="checkbox">+/- 2 дня</label>
                                </div>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>С &nbsp;&nbsp;12:00</option>
                                    <option>С 12:00</option>
                                    <option>С 12:00</option>
                                </select>
                            </div>
                            <div class="form-select">
                                <select data-jcf='{"wrapNative": false, "wrapNativeOnMobile": false, "fakeDropInBody": false, "useCustomScroll": true}'>
                                    <option>До &nbsp;&nbsp;16:00</option>
                                    <option>До 16:00</option>
                                    <option>До 16:00</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-action">
                            <button type="button" class="button">Найти<i class="icon-search"></i></button>
                            <a href="javascript:void(0)">Расширенный поиск</a>
                        </div>
                    </form>
                </div>
            </section>

            <div class="map-results">
                <section class="section section-map">
                    <div class="section_body">
                        <div id="visible" class="mCustomScrollbar">
                            <ul></ul>
                        </div>
                        <div id="container" style="position: relative;">
                            <button id="draw">Выделить область</button>
                            <div id="map"></div>
                            <canvas id="draw-canvas" style="position: absolute; left: 0; top: 0; display: none;"></canvas>
                        </div>
                    </div>
                </section>
            </div>

            <footer class="footer">
                <div class="container">
                    <div class="footer_body">
                        <div class="logo">
                            <a href="index.html"><img alt="" src="../img/logo.png"></a>
                        </div>
                        <p> © Все права защищены, 2019</p>
                        <a href="javascript:void(0)" class="politics">Политика конфиденциальности</a>
                    </div>
                </div>
            </footer>

        </main>
    </div>


    <script src="../js/jquery.min.js"></script>
    <script src="../js/jquery.mCustomScrollbar.min.js"></script>
    <script src="../js/slick.min.js"></script>
    <script src="../js/jcf.min.js"></script>
    <script src="../js/jcf.checkbox.min.js"></script>
    <script src="../js/jcf.select.min.js"></script>
    <script src="../js/jquery-ui.min.js"></script>
    <script src="../js/jquery.ui.touch-punch.min.js"></script>
    <script src="../js/jquery-ui.datepicker.min.js"></script>
    <script src="../js/main.min.js"></script>
    <script src="../js/search.min.js"></script>
    <script src="../js/map.min.js"></script>

</body>

</html>