<header class="header_personal">
    <div class="container">
        <div class="navigation">
            <div class="logo">
                <a href="index.html"><img alt="" src="../img/logo-dark.png"></a>
            </div>
            <div class="header_action">
                <div class="search">
                    <i class="icon-search iSearch"></i>
                    <form class="form">
                        <div class="form-input" id="headerSearch">
                            <button class="button"><i class="icon-search"></i></button>
                            <input name="search" class="search-query" type="text" placeholder="Поиск">
                        </div>
                        <div class="search-results">
                            <a href="javascript:void(0)">Диана Ковалева</a>
                            <a href="javascript:void(0)">Наталья Иванова</a>
                        </div>
                    </form>
                </div>
                <div class="personal_information">
                    <div class="personal_score">
                        <i class="icon-wallet"></i>
                        <div class="score">
                            <span>На счету: 1000 руб.</span>
                            <a href="personal-area-settings.html#balance" data-id="#balance" class="replenish">Пополнить</a>
                        </div>
                    </div>
                    <a href="master-organaizer.html" class="calendar"><i class="icon-calendar"></i><span>Календарь</span></a>
                    <a class="notification" href="javascript:void(0)">
                        <i class="icon-bell-1"></i>
                    </a>
                    <ul class="dropdown-notification">
                        <li>
                            <a href="javascript:void(0)" class="link-notification"></a>
                            <div class="avatar">
                                    <img src="../img/avatar-7.jpg" alt="avatar"></div>
                            <span>У вас новое сообщение от Ирины Ивановой</span>
                        </li>
                        <li>
                            <a href="javascript:void(0)" class="link-notification"></a>
                            <div class="avatar">
                                    <img src="../img/avatar-7.jpg" alt="avatar"></div>
                            <span>У вас новое сообщение от Ирины Ивановой</span>
                        </li>
                    </ul>
                </div>
                <div class="menu">
                    <i class="icon-3-dots"></i>
                </div>
            </div>
            <div class="user">
                    <div class="avatar">
                            <img src="../img/avatar-7.jpg" alt="avatar">
                            <span style="background-image: url(../img/diamond.png);"></span>
                        </div>
                <div class="name">
                    <span>Наталья Иванова</span>
                    <span>Лучший мастер</span>
                </div>
                <a href="#"><i class="icon-arrow-down"></i></a>
                <div class="dropdown-user">
                    <ul>
                        <li>
                            <a href="personal-area-settings.html#my-account" data-id="#my-account" class="go-to link-account"><span class="profile"></span>Профиль </a>
                        </li>
                        <li>
                            <a href="personal-area-settings.html#advertising" data-id="#advertising" class="go-to link-advertising"><i class="icon-increase"></i>Реклама</a>
                        </li>
                        <li>
                            <a href="personal-area-settings.html#services" data-id="#services" class="go-to link-services"><span class="services">
                                    <span></span>
                                    <span></span>
                                </span>Услуги</a>
                        </li>
                        <li>
                            <a href="personal-area-settings.html#rating" data-id="#rating" class="go-to link-rating"><i class="icon-icon1"></i>Рейтинг</a>
                        </li>
                        <li>
                            <a href="personal-area-settings.html#balance" data-id="#balance" class="go-to link-balance"><i class="icon-wallet"></i>Баланс</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>