<div class="modall-list">
        <div class="modall-body">
            <span class="close"></span>
            <div class="search">
                    <form>
                        <div class="form-input" id="Search">
                            <i class="icon-search"></i>
                            <input name="search" class="search-query" type="text"
                                placeholder="Найти мастера">
                        </div>
                    </form>
                </div>
            <ul class="users mCustomScrollbar">
                    <li class="item-user">
                        <div class="user">
                            <div class="avatar">
                                <img src="../img/avatar-3.jpg" alt="avatar">
                                <span class="heart" style="background-image: url(../img/heart.png);"></span>
                            </div>
                            <div class="title">
                                <h3>Дина Ковалева</h3>
                            </div>
                            <span class="mark confirmed"><i class="icon-tick"></i></span>
                        </div>
                    </li>
                    <li class="item-user">
                        <div class="user">
                            <div class="avatar">
                                <img src="../img/img-16.jpg" alt="avatar">
                            </div>
                            <div class="title">
                                <h3>Наталья Иванова</h3>
                            </div>
                            <span class="mark confirmed"><i class="icon-tick"></i></span>
                        </div>
                    </li>
                    <li class="item-user">
                        <div class="user">
                            <div class="avatar">
                                <img src="../img/avatar-4.jpg" alt="avatar">
                            </div>
                            <div class="title">
                                <h3>Александрина
                                        Карпинская</h3>
                            </div>
                            <span class="mark confirmed"><i class="icon-tick"></i></span>
                        </div>
                    </li>
                    <li class="item-user">
                        <div class="user">
                            <div class="avatar">
                                <img src="../img/avatar-1.jpg" alt="avatar">
                            </div>
                            <div class="title">
                                <h3>Евгения Шульга</h3>
                            </div>
                            <span class="mark confirmed"><i class="icon-tick"></i></span>
                        </div>
                    </li>
                    <li class="item-user">
                        <div class="user">
                            <div class="avatar">
                                <img src="../img/avatar-6.jpg" alt="avatar">
                            </div>
                            <div class="title">
                                <h3>Наталья Иванова</h3>
                            </div>
                            <span class="mark confirmed"><i class="icon-tick"></i></span>
                        </div>
                    </li>
                    <li class="item-user">
                        <div class="user">
                            <div class="avatar">
                                <img src="../img/avatar-5.jpg" alt="avatar">
                            </div>
                            <div class="title">
                                <h3>Наталья Иванова</h3>
                            </div>
                            <span class="mark confirmed"><i class="icon-tick"></i></span>
                        </div>
                    </li>
                    <li class="item-user">
                        <div class="user">
                            <div class="avatar">
                                <img src="../img/avatar-5.jpg" alt="avatar">
                            </div>
                            <div class="title">
                                <h3>Наталья Иванова</h3>
                            </div>
                            <span class="mark confirmed"><i class="icon-tick"></i></span>
                        </div>
                    </li>
                </ul>
                <div class="action">
                        <button class="button_light">Поделиться</button>
                </div>
        </div>
    </div>