<div class="modall-message">
        <div class="modall-body">
            <span class="close"></span>
            <form class="form">
                <div class="heading">
                    <h2>
                            Запись к мастеру
                    </h2>
                    <div class="item-user">
                            <div class="avatar">
                                    <img src="../img/avatar-1.jpg" alt="avatar">
                                    <span style="background-image: url(../img/diamond.png);"></span>
                            </div>
                            <div class="item-name">
                                <p>Наталья Иванова</p>
                                <span>Лучший мастер</span>
                            </div>
                        </div>
                </div>
                <div class="form-row">
                    <div class="form-group">
                           <textarea></textarea>
                        <div class="form-column">
                                <ul class="message-form">
                                        <li><i class="icon-smile"></i></li>
                                        <li>
                                            <div class="writeMessage-file">
                                                <input type="file" name="file" id="file" class="inputfile"
                                                    accept="image/*">
                                                <label for="file"><i class="icon-icon26"></i></label>
                                            </div>
                                        </li>
                                    </ul>
                        </div>
                    </div>
                    <div class="form-action">
                       <button class="button_light">Отправить</button>
                    </div>
                </div>
            </form>
        </div>
    </div>