<div class="politics-modall">
    <div class="politics-content">
        <span class="close"></span>
        <h2>Политика договора-оферты</h2>
        <div class="politics-body mCustomScrollbar">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                labore
                et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra
                maecenas
                accumsan lacus vel facilisis.
            </p>
            <h3>Quis ipsum suspendisse</h3>
            <ul>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
            </ul>
            <h3>Quis ipsum suspendisse</h3>
            <ol type="1">
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
            </ol>
            <ol type="1">
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
                <li>
                    <p> Quis ipsum suspendisse </p>
                </li>
            </ol>
        </div>
    </div>
</div>