<div class="modall-calendar">
        <div class="modall-body">
            <h3>Настроить календарь</h3>
            <div class="content">
                    <div id='calendar3' class="calendar3"></div>
                    <div class="item-time">
                            <h3>Рабочее время</h3>
                        <ul>
                            <li>12:00</li>
                            <li>14:00</li>
                            <li>15:30</li>
                            <li>16:00</li>
                            <li>16:30</li>
                            <li>17:30</li>
                        </ul>
                        <a class="add" href="master-organaizer.html">+</a>
                        <div class="item-action">
                            <button class="button_light active">Сохранить</button>
                            <button class="button_light cancellation">Отменить</button>
                        </div>
                    </div>
            </div>
               
        </div>
    </div>